{% extends "bbase.html" %}
{% load filename %}

{% block title %} 修改密码 {% endblock %}

{% block exjs %}
<script>
	function validate() {
		var newpasswd = $("#newpasswd").val();
		var newpasswd1 = $("#newpasswd1").val();
		if (newpasswd != newpasswd1) {
			alert("两次新密码输入不一致，请重新输入!");
			$('#newpasswd').focus();
			return false;
		}
	}
</script>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>
            <a href="/">
                <i class="icon-arrow-left-3 fg-darker smaller"></i>
            </a>
            返回</h1>
        <div class="grid no-margin">
			<div class="row">
			<div class="span6">
				<div class="panel">
					<div class="panel-header bg-lightBlue fg-white">
						修改密码
					</div>
					<div class="panel-content">
						<form action={% url 'change_pwd' %} method="POST" onsubmit="return validate();">
							{% csrf_token %}
							<fieldset>
							<label>旧密码</label>
							<div class="input-control password" data-role="input-control">
							<input type="password" id="oldpasswd" name="oldpasswd" placeholder="请输入旧密码">
							<button class="btn-reveal" tabindex="-1"></button>
							</div>
							<label>新密码</label>
							<div class="input-control password" data-role="input-control">
							<input type="password" id="newpasswd" name="newpasswd" placeholder="请输入新密码">
							<button class="btn-reveal" tabindex="-1"></button>
							</div>
							<label>确认新密码</label>
							<div class="input-control password" data-role="input-control">
							<input type="password" id="newpasswd1" name="newpasswd1" placeholder="请再次输入新密码">
							<button class="btn-reveal" tabindex="-1"></button>
							</div>
							<input type="submit" value="确认">
							</fieldset>
						</form>
					</div>
				</div>
			</div>
			</div>
        </div>
    </div>

{% endblock %}
