{% extends "bbase.html" %}

{% block title %}Change password{% endblock %}

{% block exjs %}
<script>
	function validate() {
		var newpasswd = $("#newpasswd").val();
		var newpasswd1 = $("#newpasswd1").val();
		if (newpasswd != newpasswd1) {
			alert("Retype password!");
			$('#newpasswd').focus();
			return false;
		}
	}
</script>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>
            <a href="/">
                <i class="icon-arrow-left-3 fg-darker smaller"></i>
            </a>
            Home</h1>
        <div class="grid no-margin">
			<div class="row">
			<div class="span6">
				<div class="panel">
					<div class="panel-header bg-lightBlue fg-white">
						Change password
					</div>
					<div class="panel-content">
						<form action="{% url 'do_change_pwd' %}" method="POST" onsubmit="return validate();">
							{% csrf_token %}
							<fieldset>
							<label>Old password</label>
							<div class="input-control password" data-role="input-control">
							<input type="password" id="oldpasswd" name="oldpasswd" placeholder="Type old password">
							<button class="btn-reveal" tabindex="-1"></button>
							</div>
							<label>New password</label>
							<div class="input-control password" data-role="input-control">
							<input type="password" id="newpasswd" name="newpasswd" placeholder="Type new password">
							<button class="btn-reveal" tabindex="-1"></button>
							</div>
							<label>Confirm new password</label>
							<div class="input-control password" data-role="input-control">
							<input type="password" id="newpasswd1" name="newpasswd1" placeholder="Retype new password">
							<button class="btn-reveal" tabindex="-1"></button>
							</div>
							<input type="submit" value="Confirm">
							</fieldset>
						</form>
					</div>
				</div>
			</div>
			</div>
        </div>
    </div>
{% endblock %}
