{% extends "bbase.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div style="background-color: rgb(239, 234, 227);">
    <div class="container padding20" style="height: 600px;">
        <div class="grid no-margin">
            <a class="tile double bg-blue text-center" href={% url 'app.movie.views.index' %}>
                <h1 class="fg-white" style="font-size:40px; line-height:90px;">Movie</h1>
            </a>
        </div>
    </div>
    <div class="bg-steel">
        <div class="container" style="padding: 10px 0;">
            <div class="grid no-margin">
                <div class="row no-margin">
                    <div class="span6 padding10">
                        <h3 class="fg-white">About us</h3>
                        <p class="fg-white">It is a website to recommend movies.</p>
                    </div>
                    <div class="span6 padding10">
                        <h3 class="fg-white">Contact us</h3>
                        <p class="fg-white">QQ:542490501</p>
                        <p class="fg-white">Email:oppps@163.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-dark">
        <div class="container tertiary-text bg-dark fg-white" style="padding: 10px;">
            Copyright © 2014-2015
        </div>
    </div>
</div>
{% endblock %}
