{% extends "bbase.html" %}

{% block title %} Forget Password {% endblock %}

{% block exthead %}
<link href="/static/signin.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
	
	<form class="form-signin" action="{% url 'reset_password' %}" method="post">
		{% csrf_token %}
		{% if form.non_field_errors %}
		<div class="alert alert-danger" role="alert">
			<a href="#" class="close" data-dismiss="alert">&times;</a> 
			{% for error in form.non_field_errors %} {{ error | escape }} {% endfor %}
		</div>
		{% endif %}
		<h2 class="form-signin-heading">Forget Password</h2>
		{{ form.email.errors }}
		<label for="email" class="sr-only">Email</label>
		<input type="email" id="email" name="email" class="form-control" placeholder="Email" required autofocus>
		<br />
		<button class="btn btn-lg btn-primary btn-block" type="submit">Confirm</button>
	</form>

</div>
{% endblock %}
