{% extends "bbase.html" %}

{% block title %} Sign In {% endblock %}

{% block exthead %}
<link href="/static/signin.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">

	<form class="form-signin" action="{% url 'sign_in' %}" method="post">
		{% csrf_token %}
		{% if form.non_field_errors %}
		<div class="alert alert-danger" role="alert">
			<a href="#" class="close" data-dismiss="alert">&times;</a> 
			{% for error in form.non_field_errors %} {{ error | escape }} {% endfor %}
		</div>
		{% endif %}
		<h2 class="form-signin-heading">Sign In</h2> 
		{{ form.username.errors }}
		<label for="username" class="sr-only">Username</label>
		<input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
		{{ form.password.errors }}
		<label for="password" class="sr-only">Password</label>
		<input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
		<div class="checkbox">
			<label>
				<input type="checkbox" value="remember-me"> Remember me
			</label>
		</div>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Confirm</button>
		<a href="{%url 'reset_password'%}">Forget password?</a>
	</form>

</div>
{% endblock %}
