{% extends "bbase.html" %}

{% block title %}Sign In{% endblock %}

{% block exjs %}
<script>
	function validate() {
		var username = $("#username").val();
		if (username == null || username == '') {
			alert("Input user name!");
			$('#username').focus();
			return false;
		}
	}
</script>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>
            <a href="/">
                <i class="icon-arrow-left-3 fg-darker smaller"></i>
            </a>
            Home</h1>
        <div class="grid no-margin">
			<div class="row">
			<div class="span6">
				<div class="panel">
					<div class="panel-header bg-lightBlue fg-white">
						Sign In
					</div>
					<div class="panel-content">
						<form action="{% url 'do_sign_in' %}" method="POST" onsubmit="return validate();">
							{% csrf_token %}
							<fieldset>
							<label>Username</label>
							<div class="input-control text" data-role="input-control">
							<input type="text" id="username" name="username" placeholder="Type username">
							</div>
							<label>Password</label>
							<div class="input-control password" data-role="input-control">
							<input type="password" name="password" placeholder="Type password">
							<button class="btn-reveal" tabindex="-1"></button>
							</div>
							<input type="submit" value="Sign In">
							</fieldset>
						</form>
					</div>
				</div>
			</div>
			</div>
        </div>
    </div>
{% endblock %}
